.flight__search {
    width: 100%;
}

.flight__text {
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 10px;
    font-weight: 380;
}

.flights__unordered {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;

}

/* .flights__list {
    margin-bottom: 5px;
} */
 
.flights {
    height: 10px;
    width: 400px;
    border-bottom: 1px solid rgb(211, 204, 204);;
    margin-bottom: 5px;
}