.expert__form {
    /* margin: 50px 0px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.expert__button {
    border: 1px solid red;
    border: none;
    outline: none;
    padding: 10px 30px;
    background: rgb(48, 48, 235);
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s ease;
}

.expert__button:hover {
    opacity: 0.8;
}


.expert__flight__input {
    
    padding: 10px 40px 10px 2px;
    outline: none;
    border: none;
    max-width: 80%;
}

.expert__flight__input:focus{
    border: none;
    outline: none;
}

.input__wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 9px 2px 3px;
}

.icon {
    color: rgb(80, 74, 74);
    font-size: 23px;
    margin-right: 5px;
}

.icon__user {
    color: rgb(80, 74, 74);
    font-size: 19px;
    margin-right: 5px;
}


@media screen and (max-width: 576px) {
    .expert__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .expert__input {
        width: 200px;
        padding: 5px 5px;
    }

    .expert__button {
        width: 200px;
    }
}



@media screen and (max-width: 1200px) {
    .expert__form {
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }

    .expert__input {
        width: 75%;
        padding: 9px 9px;
    }

    .expert__button {
        width: 75%;
    }
    
}