.form__wrapper {
    padding: 10px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.form__div {
    display: flex;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.input {
    width: 500px;
    padding: 10px 100px 10px 5px;
    border-radius: 5px;

    outline: none;
    border: none;
}

.input:focus {
    border: none;
    outline: none;
}

.btn__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    height: 50%;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid blue;
    background: rgb(83, 83, 235);
    color: #fff;
    cursor: pointer;
    outline: none;
}

.icon {
    font-size: 18px;
}