.navbar__wrapper {
    width: 100%;
    border-bottom: 1px solid rgb(184, 178, 178);
    box-shadow: 0 0 10px 4px rgb(219, 217, 217);
    /* position: fixed; */
}

.expert__image {
    margin-right: 10px;
    cursor: pointer;
}

.image__text {
    cursor: pointer;
    font-size: 16px;
    transition: color 0.14s;
}

.image__text:hover {
    color: rgb(61, 61, 228);
}

.navbar__content {
    width: 65%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-weight: bold;
    color: rgb(104, 101, 101);
}

.list__item {
    list-style-type: none;
    cursor: pointer;
    transition: all 0.14s ease;
}

.list__item:hover {
    color: rgb(61, 61, 228);
}

.logo__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.mob__links {
    display: none;
}



@media screen and (max-width: 576px) {
    .mob__links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .expert__image {
        width: 120px;
    }

    .list {
        display: none;
    }

    .navbar__content {
        width: 100%;
    }

    .mob__item {
        list-style-type: none;
        text-decoration: none;
        font-size: 20px;
        transition: all 0.3s ease;
    }

    .mob__item:hover {
        color: rgb(61, 61, 228);
    }

    .image__text {
        display: none;
    }

    .navbar__content {
        padding: 10px 20px;
    }

    .mob__links {
        padding: 10px;
    }
}

@media screen and (max-width: 900px) {
    .navbar__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mob__links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
/*         
        gap: 20px; */
    }

    .expert__image {
        font-size: 25px;
    }

}


@media screen and (max-width: 1200px) {
    .list {
        display: none;
    }

    .navbar__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .logo__text {
        margin-right: auto;
    }


    .expert__image {
        font-size: 25px;
    }

    .mob__links {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        gap: 50px;
    }


    .mob__item {
        list-style-type: none;
        text-decoration: none;
        font-size: 23px;
        transition: all 0.3s ease;
    }

    .mob__item:hover {
        color: rgb(61, 61, 228);
    }

}