.top__wrapper {

}

.top__wrapper__header {
    font-weight: 400;
    font-size: 35px;

}

.top__unordered {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.top__unordered__item {
    list-style-type: none;
}

.top__unordered__item__image {
    width: 390px;
    height: 250px;
    border-radius: 10px;
}

.top__unordered__item__title {
    margin-top: 10px;
    color: rgb(83, 80, 80);
}

.top__unordered__item__sub {
    color: rgb(102, 98, 98);
    margin-top: 10px;
}