:root {
    font-family: Roboto;
    font-synthesis: none;

    --mobile-screen  : 576px;
    --tablet-screen  : 768px;
    --laptop-screen  : 992px;
    --desktop-screen : 1200px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app {
    width: 65%;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .app {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 992px) {
    .app {
        width: 90%;
        margin: atuo;
    }
}

@media screen and (max-width: 768px) {
    .app {
        width: 90%;
        margin: auto;
    }
}


@media screen and (max-width: 576px) {
    .app {
        width: 90%;
        margin: auto;
    }
}



.cars-button_text {
    color: rgb(56, 114, 240);
    /* width: 200px; */
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button {
    border: none;
    outline: none;
    color: #fff;
    background: rgb(35, 73, 245);
    font-size: 17px;
    font-weight: 500;
    border-radius: 20px;
    width: 150px;
    margin-top: 10px;
    padding: 10px 30px;
    cursor: pointer;
}




/* @media screen and (max-width: 1200) {
    .app {
        width: 65%;
        margin: auto;
    }
} */