:root {
    font-family: Roboto;
    font-synthesis: none;

    --mobile-screen  : 576px;
    --tablet-screen  : 768px;
    --laptop-screen  : 992px;
    --desktop-screen : 1200px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app {
    width: 65%;
    margin: auto;
}

@media screen and (max-width: var(--desktop-screen)) {
    .app {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: var(--mobile-screen)) {
    .app {
        width: 90%;
        margin: auto;
    }
}



/* @media screen and (max-width: 1200) {
    .app {
        width: 65%;
        margin: auto;
    }
} */